.TodoItems {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #4d4d4d;
    border-bottom: 1px solid #dcd6d6;
    display: flex;
    align-items: center
}

.TodoItems-complete > p {
    text-decoration: line-through;
    opacity: .3;
}

.TodoItems > p{
    text-align: center;
    margin-left: 10px;
    word-break: break-all;
    margin: 13px 2px;
    max-width: 82%;
    
}
.TodoItems .check-img {
    margin: 0 10px;
    cursor: pointer;
    /* transition: 0.3s; */
}

.TodoItems > .check-img.isOpacity{
    opacity: .2;
}

.TodoItems .check-img:focus > p {
    transition: 3s cubic-bezier(0.075, 0.82, 0.165, 1)
}

.TodoItems .cancel-img {
    position: absolute;
    right: 17px;
    cursor: pointer;
    /* visibility: hidden; */
}

.TodoItems .cancel-img.active {
    visibility: visible
}