.TrafficLight {
    display: flex;
    flex-direction: column
}

.TrafficLight .buld {
    width: 64px;
    height: 64px;
    display: inline-block;
    border-radius: 50%;
    margin: 10px;
    opacity: .2;
}

.TrafficLight .buld.active {
    opacity: 1;
}

.TrafficLight .buld.red {
    background-color: red;
}

.TrafficLight .buld.yellow {
    background-color: yellow;
}

.TrafficLight .buld.green {
    background-color: green;
}